.catalog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #4ca2ff;
    padding: 5px;
    border-radius: 10px;
    max-width: 350px;
    max-height: 500px;
    background-color: #4ca2ff;
}

.card-name-container {
    display: flex;
    width: 225px;
    height: 70px;
    padding: 8px 10px;
}

.card-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.card-price-container {
    display: flex;
    width: 100%;
    padding: 20px 10px;
}

.card-price {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.card-btn {
    width: 225px;
    height: 50px;
    border-radius: 12px;
}

.card-btn-changed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 225px;
    height: 50px;
    padding: 7px 0px;
    gap: 60px;
}
